:root{
  --bg-color_darkred: rgb(175, 0, 10);
}

#mainConainer{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: orange;
  width: 1000px;
  height: 800px;
}
header{
  width: 900px;
}
header p{
  text-align: center;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 8px;
  margin-bottom: 5px;
}
hr{
  height: 1vh;
  background-color: var(--bg-color_darkred);
}
#gameContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 900px;
}
#gameBox{
    width: 490px;
    height: 410px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
#gameBox .gameCellBtn{
  text-align: center;
  width: 150px;
  height: 150px;
  background-color: white;
}
.gameCellBtn{
  font-size: 10em;
  font-weight: bold;
  transform: rotateZ(45);
}

#middleLine{
  position: relative;
  margin-top: -10px;
  width: 10px;
  height: 500px;
  background-color: var(--bg-color_darkred);
}
#playerInfoBox{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 300px;
}
#playerInfoBox p{
  font-size: 2em;
  font-weight: bold;
}
#wonPlayer{
  padding-top: 20px;
  text-align: center;
  height: 100px;
  border-radius: 50px;
  background-color: green;
  transform: scale(2);
}
#resetBtn{
  position: relative;
  top: 0px;
  width: 200px;
  height: 100px;
  font-size: 2em;
}

/* Win Linjen --------------------------------------------------------
  Förkortningar; Y led | X led | Z rotation */
#winLineY1{
  position: relative;
  top: -402px;
  width: 450px;
  height: 0.6vh;
  background-color: var(--bg-color_darkred);
}
#winLineY2{
  position: relative;
  top: -246px;
  width: 450px;
  height: 0.6vh;
  background-color: var(--bg-color_darkred);
}
#winLineY3{
  position: relative;
  top: -84px;
  width: 450px;
  height: 0.6vh;
  background-color: var(--bg-color_darkred);
}

#winLineX1{
  position: relative;
  top: -312px;
  left: -393px;
  height: 450px;
  width: 0.6vh;
  background-color: var(--bg-color_darkred);
}
#winLineX2{
  position: relative;
  top: -315px;
  left: -232.5px;
  height: 450px;
  width: 0.6vh;
  background-color: var(--bg-color_darkred);
}
#winLineX3{
  position: relative;
  top: -315px;
  left: -72px;
  height: 450px;
  width: 0.6vh;
  background-color: var(--bg-color_darkred);
}

#winLineZ1{
  position: relative;
  top: -394px;
  left: -235px;
  height: 620px;
  width: 0.6vh;
  background-color: var(--bg-color_darkred);
  transform: rotateZ(-45deg);
}
#winLineZ2{
  position: relative;
  top: -410px;
  left: -220px;
  height: 620px;
  width: 0.6vh;
  background-color: var(--bg-color_darkred);
  transform: rotateZ(45deg);
}

/* Formatyering för celler -----------------------------*/
.imgSymbols{
  margin-top: 15px;
  width: 75%;
}
#c1x1, #c1x2, #c2x1, #c2x2{
  border-bottom: 10px solid var(--bg-color_darkred);
  border-right: 10px solid var(--bg-color_darkred);
}
#c1x3, #c2x3{
  border-bottom: 10px solid var(--bg-color_darkred);
}
#c3x1, #c3x2{
  border-right: 10px solid var(--bg-color_darkred);
}
